/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  * {
    outline: 1px solid #f00 !important;
  }

  body {
    outline: 1px solid greenyellow !important;
  }

  
  body {
    outline: 1px solid blue !important;
  }

  html {
    outline: 1px solid yellow !important;
  }

  header {
    outline: 1px dashed magenta !important;
  }

  img {
    max-width: 90vw;
  }
  
  /* Global styles */
  html {
    width: 100vw;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: black;
    width: 100vw;
    min-height: 100vh;
  }
  
  /* Header styles */
  header {
    color: #fff;
    padding: 20px 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header img {
    width: calc( 100vw - 40px );
    border: 1px solid red;
    display: block;
  }
  
  nav {
    display: block;
    border: 2px solid yellow;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  section {
    max-width: 95vw;
  }
  
  /* Hero section styles */
  #hero {
    text-align: center;
    padding: 100px 0;
  }
  
  #hero h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  #hero p {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }
  
  #hero .btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Services section styles */
  #services {
    padding: 100px 0;
  }
  
  .service {
    margin-bottom: 40px;
  }
  
  .service h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
    
  /* About section styles */
  #about {
    padding: 100px 0;
  }
  
  /* Contact section styles */
  #contact {
    text-align: center;
    padding: 100px 0;
  }
 
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  